  <div class="row main-content">
    <div class="col-3">
        <app-admin></app-admin> 
    </div>
    <div class="col-9 right-column">
       <div class="row top-content">
         <div class="col-1 top-content-first">
                <i class="bi bi-bell top-content-bell-icon"></i>
         </div>
         <div class="col-1 top-content-second">
                <i class="bi bi-cart-plus top-content-cart-icon"></i>
         </div>

         <div class="col-1 top-content-third">
                <i class="bi bi-person top-content-person-icon"></i>
         </div>
         <div class="col-1 top-content-fourth">
                <i class="bi bi-messenger top-content-chat-icon"></i>
         </div>
       </div>
    </div>
  </div>
        
      